wget
asyncio
pyrogram
tgcrypto
oauth2client
psycopg2-binary
sqlalchemy
httplib2
pySmartDL
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
youtube_dl
ffmpeg
tenacity
Flask==2.2.2
gunicorn==20.1.0
aiohttp==3.8.1
pymongo[srv]==3.12.3
